*~
~*
*.diff
*.patch
*.bak
.DS_Store
*.swp
*.swo
*.log
*.log.*

/.vscode/

docker/
tools/
node_modules/
.sass-cache/

desktop.ini
.editorconfig
.stylelintrc
.stylelintignore
.eslintrc

Dockerfile*

/.bundle/
/vendor/bundle
*.gem

yarn.lock

_site/
.jekyll-metadata
.jekyll-cache/

CHANGELOG.md

AGENTS.md
