---
layout: page
type: article
lightbox: true
---

<!-- Word count and reading time estimation -->
{%- include snippets/get-lang.html -%}
{%- assign _article_lang = __return | slice: 0, 2 -%}
<div class="fade-in-words">
  <div class="first-words">
    <center>
      {%- if _article_lang == 'zh' -%}
        <b><span><span class="iconfont icon-statistics"></span> 本文总共 {{ page.content | strip_html | strip_newlines | remove: " " | size }} 字 | <span class="iconfont icon-time"></span> 阅读全文大约需要 {{ page.content | strip_html | strip_newlines | remove: " " | size | divided_by: 350 | plus: 1 }} 分钟 </span></b>
      {%- else -%}
        {%- assign _word_count = page.content | strip_html | number_of_words -%}
        <b><span><span class="iconfont icon-statistics"></span> {{ _word_count }} words | <span class="iconfont icon-time"></span> About {{ _word_count | plus: 199 | divided_by: 200 }} min read</span></b>
      {%- endif -%}
    </center>
  </div>
</div>
{%- include snippets/assign.html
  target = site.data.variables.default.page.sharing
  source0=layout.sharing source1=page.sharing -%}
{%- assign _sharing = __return -%}
<div class="layout--article"> {%- include article/top/custom.html -%}
  <div class="article__content" itemprop="articleBody">{{ content }}</div>
  {%- if _sharing -%}
  <section class="article__sharing d-print-none">{%- include sharing.html -%}</section>
  {%- endif -%}
  <div class="d-print-none"> {%- include article-footer.html -%}
    {%- include article-section-navigator.html -%} </div>
</div>
<script>
  {%- include scripts/article.js -%}
</script>

<!-- Load "APlayer" (HTML,JS) -->
<div id="aplayer"></div>
<script src="/plugins/aplayer/APlayer.min.js"></script>
<!-- Load "Aplayer JS List" (BEING ADDED)(JS) -->
<script src="/plugins/aplayer/music.js"></script>
