---
layout: articles
key: home01
titles:
  # @start locale config
  en      : &EN       Home
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  主页
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  主頁
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       홈
  ko-KR   : *KO
  fr      : &FR       Accueil
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config
show_title: true
comment: false
lightbox: false
articles:
  data_source: paginator.posts
  type: item
  article_type: BlogPosting
  show_cover: true
  show_excerpt: true
  show_readmore: true
  show_info: true
---
  <div class="layout--home"> {%- include paginator.html -%} </div>
  <script>
  {%- include scripts/home.js -%}
</script> 

  <!-- Load "Hitokoto" (JS) --> 
  <!-- Compatible with lower version browsers (Including IE)（REMOVABLE） --> 
  <script src="https://cdn.jsdelivr.net/npm/bluebird@3/js/browser/bluebird.min.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@2.0.3/fetch.min.js"></script> 
  <!-- Load [Content] and [Source] --> 
  <script>
  var xhr = new XMLHttpRequest();
  xhr.open('get', 'https://v1.hitokoto.cn/?c=a');
  xhr.onreadystatechange = function () {
    if (xhr.readyState === 4) {
      var data = JSON.parse(xhr.responseText);
	  var hitokoto = document.getElementById('hitokoto');
      var from = document.getElementById('from');
	  hitokoto.innerText = data.hitokoto;
      from.innerText = data.from;
    }
  }
  xhr.send();
</script> 
  {{ content }} 