---
layout: page
type: article
lightbox: true
---

{%- include snippets/assign.html
  target = site.data.variables.default.page.sharing
  source0=layout.sharing source1=page.sharing -%}
{%- assign _sharing = __return -%}
<div class="layout--article"> {%- include article/top/custom.html -%}
  <div class="article__content" itemprop="articleBody">{{ content }}</div>
  {%- if _sharing -%}
  <section class="article__sharing d-print-none">{%- include sharing.html -%}</section>
  {%- endif -%}
  <div class="d-print-none"> {%- include article-footer.html -%}
    {%- include article-section-navigator.html -%} </div>
</div>
<script>
  {%- include scripts/article.js -%}
</script> 

<!-- 载入 "APlayer" (HTML,JS) -->
<div id="aplayer"></div>
<script src="/plugins/aplayer/APlayer.min.js"></script> 
<!-- 载入 Aplayer JS 列表信息，增新请补充 --> 
<script src="/plugins/aplayer/music.js"></script> 
