{%- if page.sidebar.nav -%}
  <div class="sidebar-toc">
    {%- assign _sidebar_nav = site.data.navigation[page.sidebar.nav] -%}
    {%- if _sidebar_nav -%}
    <ul class="toc toc--navigator">
      {%- for _item in _sidebar_nav -%}
        <li class="toc-h1">{{ _item.title }}</li>
        {%- assign _children = _item.children -%}
        {%- if _item.language_selector -%}
          {%- assign _children = site.data.languages.languages -%}
        {%- endif -%}
        {%- if _children -%}
          {%- for _child in _children -%}
            {%- if _child.action == 'toggle-aplayer' -%}
              <li class="toc-h2">
                <button
                  type="button"
                  class="aplayer-toggle js-aplayer-toggle"
                  aria-pressed="false"
                  data-label-off="{{ _child.title_off | default: _child.title }}"
                  data-label-on="{{ _child.title_on | default: _child.title }}">{{ _child.title_off | default: _child.title }}</button>
              </li>
            {%- else -%}
              {%- include snippets/get-nav-url.html path=_child.url -%}
              {%- assign _nav_url = __return -%}
              {%- include snippets/get-nav-url.html path=page.url -%}
              {%- assign _page_url = __return -%}
              {%- if _nav_url == _page_url -%}
                <li class="toc-h2 active"><a href="{{ _nav_url | escape }}"{%- if _child.language %} data-site-language="{{ _child.language | escape }}"{%- endif -%}>{{ _child.title | escape }}</a></li>
              {%- else -%}
                <li class="toc-h2"><a href="{{ _nav_url | escape }}"{%- if _child.language %} data-site-language="{{ _child.language | escape }}"{%- endif -%}>{{ _child.title | escape }}</a></li>
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
{%- endif -%}
